
  <div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about homepage_content">
      <h2>About</h2>
      <hr>
           

        <p>Hello</p>      
        <p>I am a systems and applications developer, passionate for technology.</p>
        <p>Welcome to my blog,</p>
        <p>I will post articles and projects about the development world, and share some codes..</p>       
        <p>Check back often :)</p>      
	<%= image_tag("about.jpg", :alt => "about", :style=>"height:100px;width:100px;margin-bottom:20px;border-radius:20px;") -%>  
	
    </div>
              	    
    <div class="col-2 homepage_content">
      <h2>Articles/Tutorials</h2>
      <hr>
  		<% @posts.each do |post| %>
  			<h3><a href="#"><%= link_to post.title, post %></a></h3>
  			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
  		<% end %>
    </div>
    <div class="col-3 homepage_content">
      <h2>Projects</h2>
      <hr>
      <% @projects.each do |project| %>
  			<h3><a href="#"><%= link_to project.title, project %></a></h3>
  			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
  		<% end %>
    </div>
  </div>
