<!DOCTYPE html>
<html>
<head>
  <title>Junior Abranches - Developer</title>
  <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Raleway:400,700' type='text/css'>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
      <a href="#" class="name">Junior Abranches</a>
      <nav>
        <%= link_to "Artigos", posts_path %>
      </nav>
    </header>
<%= yield %>

</body>
</html>
