<!DOCTYPE html>
<html>
<head>
  <title>Junior Abranches - Developer</title>
  <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Raleway:400,700' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
      <%= link_to "Junior Abranches", root_path, class: "name" %>
      <nav>
        <%= link_to "Artigos", posts_path %>
        <%= link_to "Projetos", projects_path %>
      </nav>
    </header>
    <% if notice %>
  		<p class="notice"><%= notice %></p>
  	<% elsif alert %>
  		<p class="alert"><%= alert %></p>
  	<% end %>
<%= yield %>

<footer id="main_footer">
  <p class="copyright">&copy; 2016 Junior Abranches</p>
  <nav>
    <a href="https://www.facebook.com/junior.abranches.1" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a href="https://github.com/juniorabranches" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/juniorabranches" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  </nav>
</footer>

</body>
</html>
